<form [formGroup]="formulario" (click)="PosteoFormulario">
    <h3>
      Experiencia Laboral:
    </h3>
    <div formArrayName="experienciaLaboral">
      <div *ngFor="let trabajo of experienciaLaboral.controls; let i = index;">
        <div>
          <label>Empresa:</label><br />
          <input class="form-control"  formControlName="empresa" type="text" />
        </div>
        <div>
          <label>Puesto:</label><br />
          <input class="form-control" formControlName="puesto" type="text" />
        </div>
        <div>
          <label>Descripción:</label><br />
          <input class="form-control"  formControlName="descripcion" type="text" />
        </div>
        <div>
          <button (click)="borrarTrabajo(i)">Borrar</button>
        </div>
        <hr />
      </div>
    </div>
   
    <button (click)="anadirExperienciaLaboral()">
      + Añadir
    </button>
  </form>
  <br>
  <!-- <hr> -->

 <div>{{ changes | json }}</div>
  